<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{3,3},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{185,3},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{3,185},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{185,185},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{3,367},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{185,367},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{3,549},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{185,549},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Property 1=expandingLong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,478}</string>
                <key>spriteSourceSize</key>
                <string>{179,478}</string>
                <key>textureRect</key>
                <string>{{185,1109},{179,478}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{3,731},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Scater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{185,731},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ten.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{3,913},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,193}</string>
                <key>spriteSourceSize</key>
                <string>{179,193}</string>
                <key>textureRect</key>
                <string>{{185,913},{179,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wild_expanding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,425}</string>
                <key>spriteSourceSize</key>
                <string>{179,425}</string>
                <key>textureRect</key>
                <string>{{3,1109},{179,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spinTileSymbols.png</string>
            <key>size</key>
            <string>{367,1590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb93f85f8d86d0031cc104ae0ceb32f:7687e25b4c74351b51559d8cff83d2c6:6ab31573f8f95103e07487ec07b75e34$</string>
            <key>textureFileName</key>
            <string>spinTileSymbols.png</string>
        </dict>
    </dict>
</plist>
