<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Amount counter box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,107}</string>
                <key>spriteSourceSize</key>
                <string>{117,107}</string>
                <key>textureRect</key>
                <string>{{911,93},{117,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,99}</string>
                <key>spriteSourceSize</key>
                <string>{352,99}</string>
                <key>textureRect</key>
                <string>{{453,93},{352,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,140}</string>
                <key>spriteSourceSize</key>
                <string>{1080,140}</string>
                <key>textureRect</key>
                <string>{{346,326},{1080,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Union.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{168,168}</string>
                <key>textureRect</key>
                <string>{{3,469},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,37}</string>
                <key>spriteSourceSize</key>
                <string>{72,37}</string>
                <key>textureRect</key>
                <string>{{3,3},{72,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>autoplayOnArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{3,93},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>autoplayOnRoundArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{808,93},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_BetAmount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,131}</string>
                <key>spriteSourceSize</key>
                <string>{340,131}</string>
                <key>textureRect</key>
                <string>{{3,326},{340,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_Slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,665}</string>
                <key>spriteSourceSize</key>
                <string>{1052,665}</string>
                <key>textureRect</key>
                <string>{{465,469},{1052,665}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Auto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{803,3},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Buy_Bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,120}</string>
                <key>spriteSourceSize</key>
                <string>{340,120}</string>
                <key>textureRect</key>
                <string>{{1058,203},{340,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_History.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{914,3},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,82}</string>
                <key>textureRect</key>
                <string>{{465,3},{166,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Min.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{166,82}</string>
                <key>textureRect</key>
                <string>{{634,3},{166,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_Turbo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{1025,3},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,81}</string>
                <key>spriteSourceSize</key>
                <string>{166,81}</string>
                <key>textureRect</key>
                <string>{{127,3},{166,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bet_lines.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,99}</string>
                <key>spriteSourceSize</key>
                <string>{352,99}</string>
                <key>textureRect</key>
                <string>{{98,93},{352,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,81}</string>
                <key>spriteSourceSize</key>
                <string>{166,81}</string>
                <key>textureRect</key>
                <string>{{296,3},{166,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ic_rotation_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{78,3},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,288}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{174,469},{288,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turbo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{1136,3},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turbo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{1247,3},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turbo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,87}</string>
                <key>spriteSourceSize</key>
                <string>{108,87}</string>
                <key>textureRect</key>
                <string>{{1358,3},{108,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winInfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,116}</string>
                <key>spriteSourceSize</key>
                <string>{1052,116}</string>
                <key>textureRect</key>
                <string>{{3,203},{1052,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slotGameUIElements.png</string>
            <key>size</key>
            <string>{1520,1137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f293033f6e10576446b3f011dd20f0b9:ff800a5ed2997e625e2a5de6fcf29834:1dbc0b46b01b4f76b1624d1c4d5554d7$</string>
            <key>textureFileName</key>
            <string>slotGameUIElements.png</string>
        </dict>
    </dict>
</plist>
